*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
}
body{
    background-color: hsl(228, 33%, 97%);
}
.flexCommentSeccion{
display: flex;
flex-direction: column;
padding: 2em 30em;
}
.profileAndComment img{
    width: 24px;height: 24px;
}
.scoreNum{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: hsl(223, 19%, 93%);
    padding: 5px 6px;
    border-radius: 5px;
    height: 6em; 
    margin: auto;margin-right:1em;
}
.scoreNum button{
  background-color: inherit;
  border: none;
}
.minus{
    width: 0px;
    height: 4px;
  }
  .plus{
      width: 0px;
  }
.scoreNum button:hover{
    cursor: pointer;
  }
.comment{
    margin-top: 10px;
}
.staticComment{
background-color: white;
display: flex;
margin-top: 1em;
padding: 1.3em;
border-radius: 10px;
}
.staticResponse{
    background-color: white;
    display: flex;
    margin-left: 2em;
    margin-top: 1em;
    padding: 1.3em;
border-radius: 10px;
    }
    .example{
        display: none;
        margin-left: 2em;
        margin-top: 1em;
        padding: 1.3em;
    border-radius: 10px;
    }
    .scoreNum{
        margin-left: 0px;
    }
.profileAndComment{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.profile{
    display: flex;
    justify-content: space-between
}
.profile .division{
    display: flex;
    justify-content: space-between;
    width:35%;
    text-align: center;
}
.profile .division p{
    display: flex;
    align-items: center;
}
.replyBtn{
    text-align: center;
    margin-right: 12px;
}
.replyBtn button{
    display: flex;
    border: none;
    background-color: inherit;
}
.replyBtn img{
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-right: 5px;
}
.replyBtn p{
    display: flex;
    align-items: center;
}


/* response div styling*/
.responseDiv div{

}

.CopyCommentBox{
    display: none;
    background-color: white;
    margin-top: 1em;
    margin-left: 1.3em;
    padding: 1.3em;
border-radius: 10px;
}

.CopyProfileImg img{
    width: 24px;
    height: 24px;
 }
 .commentBox {
    height: 6em;
width:80%;
border-radius:8px ;
border: black thin solid; 
outline: none;
}
.btnSendComment{
    color: white;
    background-color: hsl(212, 24%, 26%);
    padding:10px 16px;
    border: none;
    border-radius:5px ;
    margin-left: 1em;
}
.form{
    width: 100%;
    margin-left: 4em;
}